<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dna_bot">
  <xacro:arg name="prefix" default="bot_0"/>
  <xacro:arg name="bot_marker_id" default="0"/>
  <xacro:property name="prefix" value="$(arg prefix)"/>
  <xacro:property name="bot_marker_id" value="$(arg bot_marker_id)"/>

  <xacro:include filename="$(find dna_swarm_bot)/description/robot_core.xacro"/>
  <xacro:include filename="$(find dna_swarm_bot)/description/camera.xacro"/>
  <xacro:include filename="$(find dna_swarm_bot)/description/gazebo_control.xacro"/>

  <xacro:webcam name="camera" prefix="${prefix}"/>
</robot>
